---
layout: home
title: Dive Coding
description: "Coding, visualized."
headline: 
tags: [Coding, Visual, engineering, interactive, code]
---


<div id="main" class="content" role="main" itemprop="mainContentOfPage">
    <div class="container">
        <div class="row">
            <div class="page-body" itemprop="description">
				<div class="row">
					<article class="post post col-md-8 col-md-offset-2">
						<h2 class="cursive">Coding, Visualized.</h2>
						<br>
						<iframe width="940" height="529" src="//www.youtube.com/embed/uWOZkKgLILQ?theme=light&amp;color=white" frameborder="0" allowfullscreen> </iframe>
						<br>
						<div class="post-body text-center">
							Dive is the easiest way to learn how to code. Dive effortlessly brings life to your code with fluid animations and simple images.
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>


	<div id="innermast" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
		<div class="inner">
	        <div class="container">
	        	
	        	<article class="post post col-md-8 col-md-offset-2">
					<h1 class="cursive" itemprop="name">Sign up now</h1>
					<div class="text-center">
						Sign up for our closed beta and get notified when we launch!
					</div>


<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{clear:left; font:16px Helvetica,Arial,sans-serif; color:black; }
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
					<form action="//github.us12.list-manage.com/subscribe/post?u=d20ab03cd19eac8848dffc24c&amp;id=092554293a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate role="form-inline">
						<input type="email" color="#000" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_d20ab03cd19eac8848dffc24c_092554293a" tabindex="-1" value=""></div>
					    <br>
					    <div class="clear"><input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default center-block"></div>
					</form>
				</div>		
				</article>
	        </div>
	    </div>
	</div>



    <div class="container">
    	<article class="post post col-md-8 col-md-offset-2">
			<h1 class="cursive" itemprop="name">How it works</h1>

			<div class="text-center">
				Type your code into our interpreter.
			</div>
			<div class="text-center">
				Then when you're ready, pause, play and debug your code.
			</div>
			 <br>
		</article>
		
		<img src="{{ site.url }}/images/divecoding.gif" itemprop="image"/>
    </div>


    <br>
    <br>
    <br>


<div id="innermast" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
	<div class="inner">
	  <div class="container">
		<article class="post post col-md-8 col-md-offset-2">
			<h2 class="cursive">The Team.</h2>
			 <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ site.url }}/images/edward.jpg" class="img-responsive img-circle" alt="" height="200" width="200">
                        <h2>Edward Zhu</h2>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://edwardzhu.me"><i class="fa fa-globe"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ site.url }}/images/josh.jpg" class="img-responsive img-circle" alt="" height="200" width="200">
                        <h2>Josh Fermin</h2>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://joshfermin.me"><i class="fa fa-globe"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ site.url }}/images/steven.jpg" class="img-responsive img-circle" alt=""  height="200" width="200">
                        <h2>Steven Tang</h2>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="text-center">
				Based out of Boulder, Colorado with a passion for learning and making connections wherever we go! 
			</div>
			</article>
		</div>
	</div>
</div>


	<center>
		<img src="{{ site.url }}/images/divecoding-full.png" itemprop="image" width="800px" height="600px">
	</center>
</div>


			














<!-- {% if site.paginate %}
	{% for post in paginator.posts %}
		{% if site.wpm %}
		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
		{% else %}
		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:180 %}
		{% endif %}
		{% assign modifiedtime = post.modified | date: "%Y%m%d" %}
		{% assign posttime = post.date | date: "%Y%m%d" %}
			{% if post.type == 'quote' %}
			<div class="row">
	            <article class="post col-md-10 col-md-offset-1">
	            	<header class="post-header">
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}"><i class="icon-quote-left"></i> {{ post.excerpt | strip_html }}</a>
	                    </h2>
	                    <p class="light small text-center">
	                        Share this Quote
	                    </p>
	                    <ul class="social-mini text-center">
	                        <li>
	                            <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.url }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
	                            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
	                                <i class="icon-twitter"></i>
	                            </a>
	                        </li>
	                        <li>
	                            <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}"
	                            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
	                                <i class="icon-facebook"></i>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}"
	                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" data-toggle="tooltip" title="Share on Google plus">
	                                <i class="icon-google-plus"></i>
	                            </a>
	                        </li>
	                    </ul>
			            <div class="post-body bordered-bottom text-center">
			                {% if post.description %}
			                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
			                    <i class="icon-link"></i> permalink...
			                </a>
			                {% else %}
			                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
			                    <i class="icon-link"></i> permalink...
			                </a>
			                {% endif %}
			            </div>
	                </header>
	            </article>
	        </div>
	        {% endif %}
	        {% if post.type == 'status' %}
	        <div class="row">
	            <article class="post col-md-10 col-md-offset-1">
	               <header class="post-header">
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}" style="color: #c91b26"><i class="icon-retweet"></i> "{{ post.excerpt | strip_html }}"</a>
	                    </h2>
	                    <p class="light small text-center">
	                        Share this Status
	                    </p>
	                    <ul class="social-mini text-center">
	                        <li>
	                            <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.url }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
	                            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
	                                <i class="icon-twitter"></i>
	                            </a>
	                        </li>
	                        <li>
	                            <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}"
	                            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
	                                <i class="icon-facebook"></i>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}"
	                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" data-toggle="tooltip" title="Share on Google plus">
	                                <i class="icon-google-plus"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <div class="post-info text-center small">
	                        Status posted @ <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
	                        in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>&nbsp;<span class="post-tags">by {{ site.owner.name }}</span>
	                        <div class="post-body bordered-bottom"></div>
	                    </div>
	                </header>    
	            </article>
	        </div>
	        {% endif %}
	        {% if post.type == 'video' %}
	        <div class="row">
	            <article class="post post col-md-8 col-md-offset-2">
	               <header class="post-header">
	                    {% if post.link %}
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-play-circle"></i> {{ post.title }}</a>
	                    {% else %}
	                    <h2 class="post-title text-center super lighter bordered-bottom">
	                        <a href="{{ site.url }}{{ post.url }}"><i class="icon-play-circle"></i> {{ post.title }}</a>
	                    {% endif %}
	                    </h2>
	                    <div class="post-info text-center small">
	                        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
	                        in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="icon-time"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}1 minute read{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutes read{% endif %}{% if readtime < 1 %}Less than 1 minute read{% endif %}</span>{% endif %}
	                    </div>
	                </header>
	                <div class="post-body bordered-bottom">
	                {% if post.video %}
	        		{% assign video_embed = post.video | remove:'https://www.youtube.com/watch?v=' %}
                    <p><iframe width="940" height="529" src="//www.youtube.com/embed/{{ video_embed }}?theme=light&amp;color=white" frameborder="0" allowfullscreen> </iframe></p>
                    <p class="lead">{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                    {% else %}
	                <p class="lead">{{ post.excerpt }}&hellip;</p>
	                {% endif %}
	                <div class="text-center">
	                    {% if post.description %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> see more...
		                </a>
		                {% else %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> see more...
		                </a>
		                {% endif %}
		            </div>
	                </div>
	            </article>
	        </div>
	        {% endif %}
	        {% if post.type == 'photo' %}
	        <div class="row">
	            <article class="post post col-md-8 col-md-offset-2">
	               <header class="post-header">
	               		{% if post.photo %}<figure><a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}/images/{{ post.photo }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% else %}<figure><a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}/images/{{ post.imagefeature }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% endif %}
	                    {% if post.link %}
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-picture"></i> {{ post.title }}</a>
	                    {% else %}
	                    <h2 class="post-title text-center super lighter bordered-bottom">
	                        <a href="{{ site.url }}{{ post.url }}"><i class="icon-picture"></i> {{ post.title }}</a>
	                    {% endif %}
	                    </h2>
	                    <div class="post-info text-center small">
	                        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
	                        in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="icon-time"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}1 minute read{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutes read{% endif %}{% if readtime < 1 %}Less than 1 minute read{% endif %}</span>{% endif %}
	                    </div>
	                </header>
	                <div class="post-body bordered-bottom">
	                    <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
	                    <div class="text-center">
	                    {% if post.description %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> read more...
		                </a>
		                {% else %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> read more...
		                </a>
		                {% endif %}
		                </div>
	                </div>
	            </article>
	        </div>
	        {% endif %}
	        {% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
	        <div class="row">
	            <article class="post post col-md-8 col-md-offset-2">
	               <header class="post-header">
	               {% if post.featured %}<div class="cursive">this post is featured</div>{% endif %}
	                    {% if post.link %}
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-link"></i> {{ post.title }}</a>
	                    {% else %}
	                    <h2 class="post-title text-center super lighter bordered-bottom">
	                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
	                    {% endif %}
	                    </h2>
	                    <div class="post-info text-center small">
	                        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
	                        in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="icon-time"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}1 minute read{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutes read{% endif %}{% if readtime < 1 %}Less than 1 minute read{% endif %}</span>{% endif %}
	                    </div>
	                </header>
	                <div class="post-body bordered-bottom">
	                {% assign excerptsize = post.excerpt | number_of_words %}
	                {% if excerptsize <= 100 and excerptsize >= 50 %}<p class = "lead">{{ post.excerpt | strip_html }}&hellip;</p>{% else %}
	                    <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>{% endif %}
	                    <div class="text-center">
	                    {% if post.description %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> read more...
		                </a>
		                {% else %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> read more...
		                </a>
		                {% endif %}
		                </div>
	                </div>
	            </article>
	        </div>
			{% endif %}
	{% endfor %}
{% if paginator.total_pages > 1 %}
        <div class="row text-center text-caps">
            <div class="col-md-8 col-md-offset-2">
                <nav class="pagination" role="navigation">
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
        <a class="newer-posts" href="{{ site.url }}">&larr; Newer Posts</a>
{% else %}
		<a class="newer-posts" href="{{ site.url }}/page{{ paginator.previous_page }}">&larr; Newer Posts</a>
{% endif %}
{% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
 {% if paginator.next_page %}   
        <a class="older-posts" href="{{ site.url }}/page{{ paginator.next_page }}">Older Posts &rarr;</a>
 {% endif %}
</nav>
            </div>
        </div>
{% endif %}
{% else %}
	{% for post in site.posts %}
		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
		{% assign modifiedtime = post.modified | date: "%Y%m%d" %}
		{% assign posttime = post.date | date: "%Y%m%d" %}
			{% if post.type == 'quote' %}
			<div class="row">
	            <article class="post col-md-10 col-md-offset-1">
	            	<header class="post-header">
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}"><i class="icon-quote-left"></i> {{ post.excerpt | strip_html }}</a>
	                    </h2>
	                    <p class="light small text-center">
	                        Share this Quote
	                    </p>
	                    <ul class="social-mini text-center">
	                        <li>
	                            <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.url }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
	                            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
	                                <i class="icon-twitter"></i>
	                            </a>
	                        </li>
	                        <li>
	                            <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}"
	                            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
	                                <i class="icon-facebook"></i>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}"
	                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" data-toggle="tooltip" title="Share on Google plus">
	                                <i class="icon-google-plus"></i>
	                            </a>
	                        </li>
	                    </ul>
			            <div class="post-body bordered-bottom text-center">
			                {% if post.description %}
			                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
			                    <i class="icon-link"></i> permalink...
			                </a>
			                {% else %}
			                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
			                    <i class="icon-link"></i> permalink...
			                </a>
			                {% endif %}
			            </div>
	                </header>
	            </article>
	        </div>
	        {% endif %}
	        {% if post.type == 'status' %}
	        <div class="row">
	            <article class="post col-md-10 col-md-offset-1">
	               <header class="post-header">
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}" style="color: #c91b26"><i class="icon-retweet"></i> "{{ post.excerpt | strip_html }}"</a>
	                    </h2>
	                    <p class="light small text-center">
	                        Share this Status
	                    </p>
	                    <ul class="social-mini text-center">
	                        <li>
	                            <a href="https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.url }}{{ post.url }}%20via%20&#64;{{ site.owner.twitter }}"
	                            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Share on Twitter">
	                                <i class="icon-twitter"></i>
	                            </a>
	                        </li>
	                        <li>
	                            <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}"
	                            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" data-toggle="tooltip" title="Share on Facebook">
	                                <i class="icon-facebook"></i>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}"
	                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" data-toggle="tooltip" title="Share on Google plus">
	                                <i class="icon-google-plus"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <div class="post-info text-center small">
	                        Status posted @ <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
	                        in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>&nbsp;<span class="post-tags">by {{ site.owner.name }}</span>
	                        <div class="post-body bordered-bottom"></div>
	                    </div>
	                </header>    
	            </article>
	        </div>
	        {% endif %}
	        {% if post.type == 'video' %}
	        <div class="row">
	            <article class="post post col-md-8 col-md-offset-2">
	               <header class="post-header">
	                    {% if post.link %}
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-play-circle"></i> {{ post.title }}</a>
	                    {% else %}
	                    <h2 class="post-title text-center super lighter bordered-bottom">
	                        <a href="{{ site.url }}{{ post.url }}"><i class="icon-play-circle"></i> {{ post.title }}</a>
	                    {% endif %}
	                    </h2>
	                    <div class="post-info text-center small">
	                        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
	                        in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="icon-time"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}1 minute read{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutes read{% endif %}{% if readtime < 1 %}Less than 1 minute read{% endif %}</span>{% endif %}
	                    </div>
	                </header>
	                <div class="post-body bordered-bottom">
	                {% if post.video %}
	        		{% assign video_embed = post.video | remove:'https://www.youtube.com/watch?v=' %}
                    <p><iframe width="940" height="529" src="//www.youtube.com/embed/{{ video_embed }}?theme=light&amp;color=white" frameborder="0" allowfullscreen> </iframe></p>
                    <p class="lead">{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                    {% else %}
	                <p class="lead">{{ post.excerpt }}&hellip;</p>
	                {% endif %}
	                <div class="text-center">
	                    {% if post.description %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> see more...
		                </a>
		                {% else %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> see more...
		                </a>
		                {% endif %}
		            </div>
	                </div>
	            </article>
	        </div>
	        {% endif %}
	        {% if post.type == 'photo' %}
	        <div class="row">
	            <article class="post post col-md-8 col-md-offset-2">
	               <header class="post-header">
	               		{% if post.photo %}<figure><a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}/images/{{ post.photo }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% else %}<figure><a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}/images/{{ post.imagefeature }}" alt="{{ post.title }}" itemprop="image"></a></figure>{% endif %}
	                    {% if post.link %}
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-picture"></i> {{ post.title }}</a>
	                    {% else %}
	                    <h2 class="post-title text-center super lighter bordered-bottom">
	                        <a href="{{ site.url }}{{ post.url }}"><i class="icon-picture"></i> {{ post.title }}</a>
	                    {% endif %}
	                    </h2>
	                    <div class="post-info text-center small">
	                        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
	                        in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="icon-time"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}1 minute read{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutes read{% endif %}{% if readtime < 1 %}Less than 1 minute read{% endif %}</span>{% endif %}
	                    </div>
	                </header>
	                <div class="post-body bordered-bottom">
	                    <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
	                    <div class="text-center">
	                    {% if post.description %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> read more...
		                </a>
		                {% else %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> read more...
		                </a>
		                {% endif %}
		                </div>
	                </div>
	            </article>
	        </div>
	        {% endif %}
	        {% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
	        <div class="row">
	            <article class="post post col-md-8 col-md-offset-2">
	               <header class="post-header">
	               {% if post.featured %}<div class="cursive">this post is featured</div>{% endif %}
	                    {% if post.link %}
	                    <h2 class="post-title text-center super lighter">
	                        <a href="{{ site.url }}{{ post.url }}" style="color: #fff; background-color: #45ADA8; border-radius: 4px; padding: 10px"><i class="icon-link"></i> {{ post.title }}</a>
	                    {% else %}
	                    <h2 class="post-title text-center super lighter bordered-bottom">
	                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
	                    {% endif %}
	                    </h2>
	                    <div class="post-info text-center small">
	                        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>{% if post.modified %}{% if modifiedtime != posttime %} and <code>last modified on <time datetime="{{ post.modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.modified | date: "%d %b %Y" }}</time></code>{% endif %}{% endif %}
	                        in <span class="post-tags">{% for tag in post.categories %}<a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ tag | capitalize }} category" rel="tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</span>{% if site.readtime %}&nbsp;<span class="post-tags"><i class="icon-time"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}1 minute read{% endif %}{% if readtime > 1.5 %}<span class="time">{{ readtime }}</span> minutes read{% endif %}{% if readtime < 1 %}Less than 1 minute read{% endif %}</span>{% endif %}
	                    </div>
	                </header>
	                <div class="post-body bordered-bottom">
	                {% assign excerptsize = post.excerpt | number_of_words %}
	                {% if excerptsize <= 100 and excerptsize >= 50 %}<p class = "lead">{{ post.excerpt | strip_html }}&hellip;</p>{% else %}
	                    <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>{% endif %}
	                    <div class="text-center">
	                    {% if post.description %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="{{ post.description }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> read more...
		                </a>
		                {% else %}
		                <a href="{{ site.url }}{{ post.url }}" data-toggle="tooltip" title="Read more about {{ post.title }}" class="more-link btn btn-danger btn-large">
		                    <i class="icon-link"></i> read more...
		                </a>
		                {% endif %}
		                </div>
	                </div>
	            </article>
	        </div>
			{% endif %}
	{% endfor %}  
{% endif %} -->
