<header class="site-header">

<body class="fullbleed layout vertical">
  <paper-header-panel class="flex">
    <paper-toolbar>
    <div class="col-md-8 col-md-offset-2">
      <img style="width: 10%;" src="images/divecoding_logo.png">
      </div>
    </paper-toolbar>
  </paper-header-panel>
</body>

  <!-- <div class="nav_bar container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <img style="width: 10%;" src="images/divecoding_logo.png">
      <div data-type="horizontal" data-role="controlgroup" class="ui-btn-right">  
      </div>
    </div>
  </div> -->

</header>
